/* ModalStyles.css */
.custom-modal {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin-top: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: 350px;
    background: white;
    padding: 20px;
    border: 2px solid rgb(9, 7, 0);
    border-radius: 8px;
    
    /* box-shadow: 10px 0px 10px rgba(226,178,19); */
    text-align: center; /* Alinea el contenido al centro */
  }
  
  .custom-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border :7px solid rgba(226, 178, 19);
    background-color: rgba(226, 178, 19); */
  }
  
  /* Estilos específicos para los elementos dentro del modal */
  .custom-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color:black
  }
  
  .custom-modal button {
    background-color:  #0056b3;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .custom-modal button:hover {
    background-color: #0056b3 rgba(226, 178, 52);
  }
  .video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 6px; 
  }
  .close-button{
    font-size: 20px;
    position: absolute;
    margin-top: 2px;
    right: 2px;
    cursor:pointer
  }
  .close-button:hover{
font-size: 25px;
  }