.gallerySection {
    display: flex;
    flex-direction: column;
    background-color: black;
    //height: 110%;
    //margin-bottom: 70px;
    
    // @media screen and (min-width: 1000px) {
    //   color: var(--extra-grey-light);
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    //   align-items: center;
    //   //width: 100%;
    //   //margin-top: o auto;
      
    //   background-color:var(--extra-blue-light);
    // }
}