

.home{
    //display: flex;
    height: 100%;
    width: 100%;
    //background-image: url('../../assets/images/bar1.jfif') ;
    // background-image:     linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
    // url('../../assets/images/bar1.jfif');
    background-image:     linear-gradient(to bottom, rgba(206, 228, 206, 0.5), rgba(229, 229, 239, 0.5)),
    url('../../assets/images/bar4.jfif');
  
    
 
    &__image{
      height: 100%;
      width: 100%;
     // display:flex;
     // margin:auto;
     
 }
  p{
    color:black;
    font-size: 32px;
    padding: 70px 20px 50px 20px;
    font-family: 'Caveat', cursive;
    //font-family: 'Lato', sans-serif;
    //font-family: 'Roboto', sans-serif;
    
  }
  .logo{
    margin-top: 60px;
    width: 250px;
    border-radius: 50%;
  }
 }
 