
.button-i18n{
    
}
.button-i18n:active{
    border-radius:15px whitesmoke;
   
}
.i18n{
    display:flex;
    //margin-left: 100px;
    justify-content: space-evenly;
    @media only screen and (max-width: 768px) { 
          margin: 0 auto;
    }
    & p{
        font-size: 20px;
        color:black;
    }
}
.bandera{
    width: 20px;
    height: 15px;
    border-radius: 4px;
}

.i18n .black-select {
    background-color: black;
    color: white;
  
    & > div {
      color: white;
    }
  }
  .flag-avatar {
    width: 24px;
    height: 16px;
  }