.sectionFormReservas {
    
    background-color: whitesmoke;
    margin-top: 25px;
    height: 80vh;
    margin-bottom: 25px;
  }
  .form{    
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    &__label{
      text-align:left;
      font-weight: bold;
      color:black;
    }
    
    &__input{
      width: 300px;
      border: 1px solid black;
      border-radius: 4px;
      margin-bottom: 10px;
      text-align: center;
    }
    &__input--comensales{
      width: 200px;
      text-align: center;
     
    }
    &__textarea{
      width: 300px;
      border-radius: 4px;
      height: 100px;
      
    }
  }  
  .title{
    color: aliceblue;
  }
 
.logoReservas{
  width: 600px;
}
.logoReservas1{
  width: 150px;
}