
.header{
    padding: 10px 16px;
    background-color: #282828;
    position: sticky;
  &__contenedor{
    width: 90%;
    height: 50px;
    margin:auto;
  }
  &__elementos{
    display:flex;
    flex-direction: row;
    position: relative;
    
  } 
  &__logo{
   width: 80px;
  }
  &__menu{
    display:flex;
    flex-direction: row;
    position: absolute;
    right:0;
    
    
     li{
       line-height: 80px;
       margin-left: 40px;
       cursor:pointer;
       display:inline-block;
       text-decoration: none;
    }
    }
}
.logo{
  width: 60px;
  border-radius: 50%;
}