/*Carta Gastro*/
.sectionGastro{
    margin-top: 25px;
    height: 110vh;
}
.container{
    width: 500px;
}
/* Fin Carta Gastro*/
/*Carta Cervezas*/
.sectionCervezas{
    margin-top: 25px;
    height: 110vh;
}
.container{
    width: 500px;
}

/* Fin Carta Cervezas*/