
*{
  margin:0;
  padding: 0px;
}


.App {
  text-align: center;
  background-color: white ;
}


p{
  color: white;
}
.mdbicon{
  color: white;
}

.i18n {
  position: fixed;
  top: 7rem;
  right: 0.8rem;

}

.i18n img {
  width: 5rem;

  @media screen  and (max-width: 760px) {
    width: 3rem;
    }
}
.i18n img:hover {
  cursor: pointer;
}
figcaption {
  display:none; 
  transition: all .5s;
}
/* Visible texto */
figure:hover > figcaption {
  display:block;
  transition: all .5s;
  color:red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bold-option{
  font-weight: bolder;
  color:red;
}



