
*{
  margin:0;
  padding: 0px;
}


.App {
  text-align: center;
  background-color: white ;
}


p{
  color: white;
}
.mdbicon{
  color: white;
}


.bold-option{
  font-weight: bolder;
  color:red;
}



