.reservas {
    position: fixed;
    top: 23rem;
    right: 0.8rem;
    background-color: white;
    border-radius: 90%;
  
  }
  
  .reservas img {
    width: 5rem;
  
    @media screen  and (max-width: 760px) {
      width: 4rem;
      }
  }
  .reservas img:hover {
    cursor: pointer;
  }
  figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }